PROJECT_NAME=workshop-dev
PROJECT_STAGE=dev
ARGOCD_WIZARD_ACCOUNT_PASSWORD=replace-before-use
ARGOCD_GIT_HTTPS_URL=https://github.com/example/platform.git
ARGOCD_GIT_USERNAME=
ARGOCD_GIT_PAT_OR_PASSWORD=
ARGOCD_HELM_REPO_USERNAME=
ARGOCD_HELM_REPO_PASSWORD=
ARGOCD_HELM_REPO_URL=
DOCKERCONFIG_BASE64=
